.card {
    width: 350px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background: var(--background);
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  
  .card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .name {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: var(--primaryTextColor);
  }
  
  .price {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondaryColor); 
  }
  